

/* color classes for bootstrap */
.bg1{
	background-color: #1BA098 !important;
}
.bg2{
	background-color: #051622 !important;
	
}
.bg3{
	background-color: #FFF5E0 !important;
}

.t1{
	color:#FFF5E0 !important; 
}

.t2{
	color: #1BA098 !important;
}

.t3{
	color: #051622 !important;
}

/* Custom CSS */
.custom-btn {
	background-color: #FFF5E0 !important; /* Use !important to ensure it takes precedence */
	border-color: #FFF5E0 !important; /* Set the border color to match */
	color: #051622 !important; /* Set the text color to contrast with the background */
  }
  
  

.font-gothic{
	font-family: Gothic A1;
}

.font-merriweather{
	font-family: Merriweather Sans;
}

.font-gormorant{
	font-family: Cormorant Garamond;
}
.bg-linear{
	background-color: #1BA098;
 	background-image: linear-gradient(to bottom, #1BA098, #051622);	
}

/* navigation area  */
.Nav{
	display: flex;
	list-style: none;
	gap: 35px;
}

/* boder radius for main hero section */
.radius50{
	background-color: #051622;
	border-bottom-right-radius: 400px;
	box-shadow: 15px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.heightincrese{
	height: 680px;
}

/* Border for profile picture */
.border10{
	border:10px solid;
	border-radius: 50%;
	border-color: #1BA098;
}

.hover-effect {
 border: none;
 padding: 10px 20px;
 cursor: pointer;
 transition: background-color 0.3s;
 transition: transform 0.3s ease-in-out;
}

.hover-effect:hover {
	transform: scale(1.2);
	/* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.269); */
}

/* For Text center */
.center {
	text-align: center;
}

.center-text {
    text-align: center; /* Center the text horizontally */
  }



/* For text pixel 24px */
.pi24 {
	font-size: 24px;
}

.pi74{
	font-size: 74px;
}

.pi47{
	font-size: 47px;
}










/* Add additional CSS styling here as needed */
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	background-color: #1BA098;
	border-radius: 20px 0px 20px 0px;
}

.textarea1{
	background-color: #FFF5E0 !important;
	border-radius: 20px 0px 20px 0px;
}

.border20{
	border-radius: 20px 0px 20px 0px;
}


input[type="submit"] {
	color: #051622;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

/* Change the placeholder color for input fields and textarea */
input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: #051622; /* Change this to your desired color */
}

.submit{
	border-radius: 20px 0px 20px 0px;
	margin-left: 40%;
}

/* CSS for responsive navigation menu */
@media (max-width: 767px) {
	/* Hide the original navigation links */
	.Nav {
		display: none;
	  }
	
	.radius50{
		background-color: #051622;
		border-bottom-right-radius: 0px;
		box-shadow: none;
		padding: 10px;
	}
	.bg-linear{
		margin-top: 150px;
		padding: 10px;
	}
	.contact-container {
		flex-direction: column; /* Stack items vertically on small screens */
		gap: 0;
	  }
	

	  .contact-form {
		flex: 1;
		padding: 5px;
		padding-left: none;
	}
	  /* Adjust spacing and font size for better mobile usability */
	  .contact-form input,
	  .contact-form textarea {
		margin-bottom: 15px;
		font-size: 16px;
	  }
	
	  

	  .adjust-hight{
		padding-top: 0px;

	  }
	  .heightincrese1{
		height: 20px;
	  }

	  .p1{
		justify-content: center;
	  }

	  .adjust-width{
		padding-left: 50px;
		padding-right: 50px;
		font-size: 18px;
	  }

	  .imgpri{
		height: 180px;
		width: auto;
	  }

	  .feature-icon1{
		height: 100px;
	  }
	  .p11{
		text-align: center;
		
	  }
	  .pi16{
		font-size: 14px;
		height: 20px;
	  }

	  .pad4{
		padding-left: 30px;
		padding-right: 30px;
	  }

	  .mapR{
		border-radius: 20px 0px 20px 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		height: 300px;
		width:100%;
	}

	  .map {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}

	

	

	  

}